@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';

$body-bg-color: #707070;
$accent-color: #c4bebe;
$secondary: #000;
$font-color: #333;
$error: #f00;
$success: #0f0;
$footer: #452e4d;
$main-font: 'Oxanium', cursive;
$secret: #8c9fc2;

* {
  justify-content: center;
  text-align: center;
}

body {
  background-color: $body-bg-color;
  clear: both;
  margin-bottom: 100px;
}

h1 {
  background-color: $accent-color;
  color: $font-color;
  font-family: $main-font;
  padding: 20px;
  text-align: left;
}

footer {
  background: $footer;
  bottom: 0;
  height: 70px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}

a {
  color: $accent-color;
}

input {
  margin: 8px;
}

nav {
  align-items: center;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.btn {
  margin: 10px;
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 420px;
}

.nav-item {
  align-items: center;
  vertical-align: middle;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $accent-color;
  color: $font-color;
  display: flex;
  font-size: 300%;
  height: 140px;
  justify-content: center;
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 8px;
}
