@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';

$body-bg-color: #353a40;
$accent-color: #262a2f;;
$secondary: #222;
$font-color: #fff;
$error: #b50415;
$success: #2e4a12;
$footer: #262a2f;
$main-font: 'Oxanium', cursive;

* {
  color: $font-color;
  font-family: $main-font;
}

body {
  background-attachment: fixed;
  background-color: $body-bg-color;
  background-image: url('https://imgur.com/04pYvqu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin-bottom: 100px;
}

h1 {
  color: $font-color;
  font-family: $main-font;
}

h2 {
  color: $font-color;
  font-family: $main-font;
}

h3 {
  padding-left: 25px;
}

a {
  color: $font-color;
 }

input {
  margin: 8px;
  padding: 8px;
}

nav {
  background-color: $accent-color;
  display: flex;
}

footer {
  background: $footer;
  bottom: 0;
  height: 60px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}

.selector {
  background-color: $secondary;
  opacity: 1;
}

.populate {
  padding-bottom: 10px;
  padding-top: 15px;
}

.logo {
  font-family: 'Tangerine', cursive;
  font-size: 400%;
}

.logo2 {
  font-family: 'Tangerine', cursive;
  font-size: 600%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.modal-content {
  background-color: $secondary;
}

.form-input {
  background-color: $body-bg-color;
}

.dropdown-menu {
  background-color: $secondary;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.table {
  margin-top: 100px;
}

.warning-message {
  align-items: center;
  color: $error;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.session-state-message {
  align-items: center;
  color: $error;
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.smaller {
  max-height: 80px;
}

.entry-button {
  font-size: 120%;
  margin-left: 30px;
  margin-right: 30px;
}

.secondary {
  display: flex;
}

.link-2 {
  font-size: 60%;
}

.account {
  margin-left: auto;
}

.container {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $accent-color;
  color: $font-color;
  // display: flex;
  font-size: 150%;
  justify-content: center;
//   height: 400px;
  margin-top: 200px;
//   width: 600px;
}

.entry-container {
  align-items: center;
  background-color: $secondary;
  background-image: url('https://imgur.com/zZiwVXp.jpg');
  border: 1px solid $accent-color;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  font-size: 150%;
  height: 400px;
  justify-content: center;
  margin-top: 200px;
  width: 400px;
}

.hidden {
  display: none;
}

.button {
  padding: 8px;
}
