@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';

$body-bg-color: #353a40;
$accent-color: #262a2f;;
$secondary: #222;
$font-color: #fff;
$error: #b50415;
$success: #2e4a12;
$footer: #262a2f;
$main-font: 'Oxanium', cursive;

* {
  color: $font-color;
  font-family: $main-font;
}

body {
  background-color: $body-bg-color;
  clear: both;
  margin-bottom: 100px;
}

h1 {
  background-color: $accent-color;
  color: $font-color;
  font-family: $main-font;
  padding: 10px;
  text-align: left;
}

h2 {
  color: $font-color;
  font-family: $main-font;
  vertical-align: middle;
}

footer {
  background: $footer;
  bottom: 0;
  height: 70px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}

a {
  color: $font-color;
}

input {
  margin: 8px;
}

nav {
  align-items: center;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.modal-content {
  background-color: $secondary;
}

.form-input {
  background-color: $body-bg-color;
}

.dropdown-menu {
  background-color: $secondary;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.table {
  margin-top: 130px;
}

.warning-message {
  align-items: center;
  color: $error;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.nav-item {
  align-items: center;
  margin-bottom: 10px;
  vertical-align: middle;
}

.container {
  // align-items: center;
  background-color: $secondary;
  border: 1px solid $accent-color;
  color: $font-color;
  // display: flex;
  font-size: 150%;
  height: 400px;
  // justify-content: center;
  margin-top: 200px;
  width: 600px;
}

.hidden {
  display: none;
}

.button {
  margin: 8px;
}
